.title{text-align: center; padding: 1% 0; font-weight: 700;font-size: 3.5rem;
    color: #FFFFFF;
background: rgba(0,0,0,0.7);
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
margin-bottom: 10px;
    }
 



