/* You can add global styles to this file, and also import other style files */
html{height: 100%;}
body{width: 100%; height: 100%; background-image: url('./assets/back-app-heroes.jpg'); background-size: cover;
background-repeat: no-repeat; font-family: 'Fredoka One', cursive; background-attachment: fixed;}
ul{margin: 0 !important; padding: 0;}


